{% extends "registration/registration_base.html" %}
{% load i18n static my_tags%}


{% block signup %}
<header class="signup-bg-color">
    {% include 'main/header.html' %}
</header>
<div class="signup-box">
    <div class="signup-img-box">
        <img class="img-fluid" src="{% static 'images/signup_box.png' %}" alt="">
    </div>
    <form class="signup-form-box">
        {% csrf_token %}
        <div class="signup-title mt-3">
            <span>
                Welcome to Utravel
            </span>
            <div>Create account</div>
        </div>
        <div class="signup-form d-flex justify-content-center mt-4 mb-3">
            <div>
                <div>
                    <label for="firstname">First name</label>
                    <input class="d-block" name="first_name" type="text" id="firstname" placeholder="first name">
                </div>
                <div class="mt-2 mb-2">
                    <label for="E-mail">E-Mail</label>
                    <input class="d-block" name="email" type="email" id="E-mail" placeholder="your.email@gmail.com">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input class="d-block" name="password" type="password" id="password" placeholder="password">
                </div>
            </div>
            <div class="ms-5">
                <div>
                    <label for="lastname">Last name</label>
                    <input class="d-block" name="last_name" type="text" id="lastname" placeholder="last name">
                </div>
                <div class="mt-2 mb-2">
                    <label for="date">Date of birth (MM/DD/YY)</label>
                    <input class="d-block" name="birth_day" type="date" id="date" max="{% max_age %}">
                </div>
                <div>
                    <label for="confirm-password">Confirm password</label>
                    <input class="d-block" name="confirm_password" type="password" id="confirm-password" placeholder="confirm password">
                </div>
            </div>
        </div>
        <div class="remember-me mb-1">
            <input type="checkbox" id="remember me"> <label for="remember me">Remember me</label>
        </div>
        <div class="I-agree-check mb-3">
            <input type="checkbox" id="I-agree-to-all">
            <label for="I-agree-to-all">I agree to all <a href="#">Terms</a> and <a href="#">Privacy policy</a></label>
        </div>
        <div class="d-flex flex-column align-items-center">
            <button class="create-account-btn" type="submit">Create account</button>
            <button class="continue-google mt-2 mb-1 " type="submit">
                <img src="{% static 'images/google-icon.png' %}" alt="">
                Continue with Google
            </button>
        </div>
        <div class="Already d-flex justify-content-center">Already have an account?<a href="{% url 'auth_login' %}">Log In</a></div>
    </form>
</div>

{% endblock %}